<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <% if (items.length === 0) { %>
        <p>No products available.</p>
    <% } else { %>
        <ul>
            <% for (let item of items) { %>
                <li> <%= item %> </li>
            <% } %>
        </ul>
    <% } %>
    

    <%- include('footer') %>  <!-- Include the footer partial -->
</body>
</html>